@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap");

:root {
  --primary-color: white;
  --secondary-color: #a3d2ca;
  --font-family: "Poppins", sans-serif;
}

.logo {
  margin-left: 80px;
}
em {
  color: var(--primary-color);
  margin-right: 50px;
}
i {
  color: var(--primary-color);
}
.hero {
  clip-path: polygon(0 0, 100% 0%, 100% 89%, 0% 100%);
  padding: 180px 0;
  background-color: var(--secondary-color);
  background-size: 100% 100%;
  font-family: var(--font-family);
  color: var(--primary-color);
}
.btnAbout {
  text-decoration: none;
  padding: 13px 30px;
  border: 3px solid rgb(25, 206, 219);
  border-radius: 40px;
  color: var(--primary-color);
  font-size: 20px;
  transition: ease-in-out 1s;
}

.btnexplore {
  text-decoration: none;
  background-color: var(--secondary-color);
  padding: 13px 30px;
  border-radius: 40px;
}
.title {
  font-size: 35px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 500;
  margin: 35px 0;
  text-decoration: underline;
  color: #b34180;
}
.avatar {
  border-radius: 47% 53% 54% 0% / 0% 38% 39% 69%;
  border: 8px solid var(--secondary-color);
}
.about-desc {
  font-size: 20px;
  text-align: center;
}
.about-desc p {
  line-height: 1.7;
  text-align: left;
}
.about-desc a {
  text-decoration: none;
  background-color: var(--secondary-color);
  padding: 15px 25px;
  border-radius: 40px;
  margin: 20px 10px;
}
#name {
  font-size: 45px;
  font-family: serif;
  font-weight: 600;
  text-align: center;
  margin: 35px auto;
}

footer {
  height: 300px;
}
footer .email_link {
  text-decoration: none;
  font-size: 24px;
  margin: 40px auto;
  color: var(--primary-color);
}
footer .email_link:hover {
  color: var(--secondary-color);
}
.fab {
  font-size: 35px;
  margin-right: 40px;
}
.contact-section {
  margin: 150px auto;
}
.projects {
  margin-top: 130px;
}
@media (max-width: 813px) {
  .logo {
    margin-left: 30px;
  }
  .hero {
    padding: 130px 0;
  }
  .projects {
    margin-top: 80px;
  }
  .projects h3 {
    font-size: 20px;
  }
  .btnexplore {
    text-decoration: none;
    background-color: var(--secondary-color);
    padding: 10px 20px;
    border-radius: 40px;
  }
  em {
    visibility: hidden;
  }
  .contact-section {
    margin: 90px auto;
  }
}
