:root {
  --primary-color: white;
  @font-face {
    font-family: sofiaPro;
    src: url(/Fonts/SofiaPro-Semi-Bold-Az.otf);
  }
}
.container-fluid {
  background: linear-gradient(45deg, rgb(102, 68, 197), rgb(101, 238, 220))
    no-repeat;
  margin-top: 60px;
}

.logo {
  margin-left: 10px;
}
